<section class="cards-section">
  <div class="cards-container">
    {{#each cards}}
      <div class="card">
        <img src="{{image}}" alt="{{alt}}" />
        <h3>{{title}}</h3>
        <p>{{description}}</p>
      </div>
    {{/each}}
  </div>
</section>
